$color-blue: #04005e;
$color-black: #06111e;
$color-pink: #e92efb;
$color-magenta: #682d63;
$color-blue-accent: #1d4e89;
$color-white: #d9d0de;
$color-burdungy: #3f2e56;
$color-bg-about: $color-burdungy;
$color-bg-projects: $color-magenta;
$color-bg-skills: $color-blue-accent;
$color-bg-footer: $color-blue;

body {
  font-family: "Fira Sans", sans-serif;
  color: $color-white;
  margin: 0;
  padding: 0;
  //background-image: url("../assets/bg.svg");
  //background-size: 100vw;
  //background-position: 0 -600px;
  background-color: $color-black;
  transition: 0.5s ease-out;
}

.background-linkedin {
  background-color: $color-blue-accent;
}

.background-github {
  background-color: $color-magenta;
}

.background-mail {
  background-color: $color-burdungy;
}

$stroke: $color-black;
$shadow: $color-white;

.stroke-shadow {
  color: white;
  text-shadow: -2px 0 $stroke, 0 -2px $stroke, 2px 0 $stroke, 0 2px $stroke,
    2px 2px $stroke, -2px -2px $stroke, -2px 2px $stroke, 2px -2px $stroke,
    6px 6px $shadow;
}

.section-heading {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  margin-bottom: 3rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.link {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 rgba(50, 85, 127, 0.5),
    0 2px 0 rgba(50, 85, 127, 0.5);
  transition: box-shadow 0.3s;
  color: inherit;
  overflow: hidden;
  cursor: pointer;
}

.link:hover {
  box-shadow: inset 0 -30px 0 rgba(50, 85, 127, 0.5),
    0 2px 0 rgba(50, 85, 127, 0.5);
}

.link-secondary {
  box-shadow: inset 0 -2px 0 $color-burdungy, 0 2px 0 $color-burdungy;
}

.link-secondary:hover {
  box-shadow: inset 0 -30px 0 $color-burdungy, 0 2px 0 $color-burdungy;
}

.staggered-animation {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}
